<web-app>
  <listener>
    <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
  </listener>
  <servlet>
    <load-on-startup>1</load-on-startup>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <servlet-name>HelloProvider</servlet-name>
  </servlet>
  <servlet>
    <load-on-startup>1</load-on-startup>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <servlet-name>RestWSProvider</servlet-name>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloProvider</servlet-name>
    <url-pattern>/helloProvider</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RestWSProvider</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
</web-app>
