<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="huaminglin.demo.spring.mybatis.h2.mapper.StudentMapper">
    <select id="getStudents" resultType="huaminglin.demo.spring.mybatis.h2.Student" useCache="true" flushCache="false">
        select name, age from student where name = #{name}
    </select>
</mapper>
