<web-app>
   <security-constraint>
    <web-resource-collection>
      <web-resource-name>All</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
        <role-name>admin-role</role-name>
    </auth-constraint>  
    <user-data-constraint>
        <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>  
   </security-constraint>

   <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>MySecurityRealm</realm-name>
   </login-config>
</web-app>

